@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,700');

@font-face {
    font-family: "Gotham";
    src: url('../fonts/Gotham-Font/GothamLight.ttf')
}

body {
    font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.container {
    width: 1366px;
    margin: 0 auto;
    min-height: 100%;
}

/*начало хэдера*/

.header {
    background-color:  #fff;
    height: 119px;
}

.header .logo {
    margin-left: 98px;
    margin-top: 63px;
}

.menu {
    width: 560px;
    height: 36px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    float: right;
    margin-right: 211px;
    margin-top: 63px;
}

#search {
    display: block;
    margin-top: 10px;
}

#search:hover {
    box-shadow: none;
}

.menu a {
    display: block;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 700;
    padding: 0px 13px;
    line-height: 36px;
    text-decoration: none;
}

.menu a:hover {
    color: #212121;
    font-weight: 700;
    /*text-shadow: 0.5px 0.5px 0 #212121, -0.5px -0.5px 0 #212121, -0.5px 0.5px 0 #212121, 0.5px -0.5px 0 #212121;*/
    box-shadow: inset 0 -2px 0px 0px #212121;
}

.menu .active {
    color: #212121;
    font-weight: 700;
    box-shadow: inset 0 -2px 0px 0px #212121;
}

/*конец хэдера*/

/*начало navigation*/
.navigation {
    background-color: #f4f4f4;
    height: 70px;
    overflow: hidden;
}

.navigation .menu_2 {
    margin: 24px auto;
    width: 647px;
    display: flex;
    justify-content: space-between;
}

.menu_2 .li {
    color:  #6c6c6c;
    font-size: 17.99px;
    font-weight: 700;
    text-align: center;
    transform: scaleY(1.0006);
    text-decoration: none;
}

.menu_2 .li:hover {
    color:  #212121;
    font-size: 17.99px;
    font-weight: 700;
    text-align: center;
}


.clr {
    height: 384px;
}
/*конец navigation*/

/*начало fishnet*/
.fishnet_chair {
    height: 968px;
}

.slider {
    height: 651px;
    width: 570px;
    margin-top: 72px;
    margin-left: 98px;
    float: left;
    position: relative;
}

.slider .slides {
	width: 100%;
	height: 570px;
	margin-bottom: 10px;
	list-style: none;
}

.slider .slides  li {
	width: 100%;
	height: 570px;
	position: absolute;
	z-index: 1;
}

.slider .slides li img {
	width: 100%;
	height: auto;
}

/*---------------------------------------*/

.slider .thumbnails {
	display: flex;
	justify-content: space-between;
    width: 230px;
    height: 71px;
    margin: 0 auto;
}

.slider .thumbnails li {
	width: 70px;
    height: 70px;
    list-style: none;
}

.slider .thumbnails li a {
	display: block;
    height: 70px;
}

.slider .thumbnails li a img {
	width: 100%;
	height: auto;
}


.slider .slides li:target {
	z-index: 2;
	/*-webkit-animation: slide 1s 1;*/
}

.slider .thumbnails li a:hover  {
    opacity: 0.5;
}

/*
.slider .slides li:not(:target) {
	-webkit-animation: hidden 1s 1;
}*/
/*
@-webkit-keyframes slide {
	0% {
		-webkit-transform: translateX(-100%);
		        transform: translateX(-100%);
	}
	100% {
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
}
@keyframes slide {
	0% {
		-webkit-transform: translateX(-100%);
		        transform: translateX(-100%);
	}
	100% {
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
}

@-webkit-keyframes hidden {
	0% {
		z-index: 2;
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
	100% {
		z-index: 2;
		-webkit-transform: translateX(100%);
		        transform: translateX(100%);
	}
}
@keyframes hidden {
	0% {
		z-index: 2;
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
	100% {
		z-index: 2;
		-webkit-transform: translateX(100%);
		        transform: translateX(100%);
	}
}*/


.text {
    width: 510px;
    height: 600px;
    margin-top: 119px;
    margin-left: 56px;
    float: left;
}

.text h3 {
    font-family: Montserrat;
    color:  #212121;
    font-size: 35.98px;
    font-weight: 700;
    text-align: center;
    transform: scaleY(1.0005);
}

.text h4 {
    font-family: Montserrat;
    color:  #e53935;
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    text-align: center;
    transform: scaleY(1.0005);
}


.text h2 {
    margin: 34px 0 31px 0;
    font-family: Gotham;
    color:  #212121;
    font-size: 72px;
    font-weight: 300;
    line-height: 48px;
    text-align: center;
    transform: scaleY(1.0005);
}

.text h2 span {
    font-family: Gotham;
    color:  #212121;
    font-size: 36px;
    font-weight: 300;
    line-height: 48px;
    text-align: center;
}

.text a {
    margin-bottom: 45px;
    display: block;
    width: 100%;
    height: 71px;
    background-color:  #f44336;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    border-radius: 35px;
    text-decoration: none;
}

.text a span {
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 21.99px;
    font-weight: 700;
    line-height: 71px;
    margin: 27px 0 0 160px;
    transform: scaleY(1.0005);
    letter-spacing: 4px;
}

.text a:hover {
    background: #f44336 url('../img/arrow_white.png') no-repeat 334px 23px;
}

.text p {
    font-family: Gotham;
    color:  #212121;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-align: left;
    transform: scaleY(1.0005);
}

/*начало related producrs*/
.related_products {
    height: 588px;
}

.title {
    height: 100px;
}

.title h2 {
    color:  #212121;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    float: left;
    margin-left: 98px;
}

.products a {
    height: 370px;
}

.products a:hover {
    box-shadow: 0px 0px 4.85px 0.15px rgba(33, 33, 33, 0.35);
}

.products {
    height: 370px;
    width: 1170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin: 0 auto;
}

.explore {
    display: block;
    float: right;
    margin-top: 21px;
    margin-right: 97px;
    text-decoration: none;
    color:  #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    padding-right: 21px;
}

.explore:hover {
    background: #ffffff url('../img/arrow.png') no-repeat 140px 5px;
}

/*конец relaited products*/

/*начало footer*/
.footer {
    height: 384px;
    background-color: #f7f7f7;
    overflow: hidden;
    width: 1366px;
    margin: -384px auto 0;
    clear: both;
}

.contacts {
    height: 147px;
    width: 1169px;
    margin: 120px auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.contact_us {
    width: 221px;
    height: 147px;
}

.useful_information {
    width: 422px;
    height: 147px;
}

.stay_in_touch {
    width: 370px;
    height: 147px;
}

.ct {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.contact_us div {
    height: 102px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.contact_us div p {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
    letter-spacing: -0.15px;
    text-transform: none;
}

.useful_information .common {
    width: 422px;
    display: flex;
    justify-content: space-between;
}

.block1 {
    width: 128px;
}

.block2 {
    width: 180px;
}

.block1, .block2 p {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    text-transform: uppercase;
}

.stay_in_touch p {
    color:  #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
}

.lsit {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    height: 107px;
}

form {
    width: 370px;
    border-width: 1px;
    border-color:  #d9dee1;
    border-style: solid;
    background-color:  #ffffff;
    display: inline-block;
}

button {
    border: none;
    height: 17px;
    vertical-align: middle;
    margin-left: 12px;
}

button:hover {
    cursor: pointer;
}

input[type="email"] {
    width: 303px;
    height: 46px;
    border-width: 0px;
    border-color:  #d9dee1;
    border-style: solid;
    background-color:  #ffffff;
    padding-left: 19px;
}

/*стиль плейсхолдера
input::placeholder {
    font-family: Montserrat;
    color:  #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
}*/

/*или так для кросс-браузерности*/

::-webkit-input-placeholder {
    font-family: Montserrat;
    color:  #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
}
::-moz-placeholder {
    font-family: Montserrat;
    color:  #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
}
:-moz-placeholder {
    font-family: Montserrat;
    color:  #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
}
:-ms-input-placeholder {
    font-family: Montserrat;
    color:  #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
}

.copyright {
    width: 1169px;
    height: 28px;
    margin: 59px auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.copyright p {
    color:  #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    text-align: right;
    text-transform: uppercase;
}

.socialnets {
    width: 129px;
    display: flex;
    justify-content: space-between;
}

.socialnets a {
    width: 26px;
    height: 26px;
    border-radius: 13px;
}

.socialnets a:hover {
    background-color: #ccc;;
}